@import url('https://fonts.googleapis.com/css?family=Dosis:700')
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed')
navcolor = #002f30
bgcolor = #d1ccbe
colorp = white //color letra principal 
bgsidebar = #006d55
btnclick = rgba(1, 20, 4, .4)
ficons = 24px
fontbrand = 22px 'Dosis', sans-serif
fontmain = 'Ubuntu Condensed', sans-serif
fontnav = 16px  
fontsideicon = 24px 
fsubtitle = 24px
colorhover = #d6ff51
fontsideiconmin = 18px
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border arguments
transition()
	-webkit-transition arguments
  	-moz-transition arguments
  	-o-transition arguments
  	transition arguments
animations()
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
body
	background-color bgcolor
	font-family fontmain
li
	list-style none
nav ul
	display inline-flex 
	list-style none
nav ul li
	color colorp
	cursor pointer
	display inline-flex
	padding 10px
*
	margin 0
	padding 0
.navbar
	background-color navcolor
	box-shadow 2px 3px 10px -2px rgba(0,0,0,0.75)
	font-size fontnav
	z-index 1
.btn-toggle
	font-size ficons
.btn-toggle:active, .social:active
	border-radius 50%
	transform scale(1.1)
	background-color btnclick
.brand
	margin-left -15px
	margin-top -3px
	font fontbrand
.brand:active
	transform scale(1.1)
.brand:hover, .btn:hover
	color colorhover
.social:hover
	background-color colorhover
.nav-right
	float right
	margin-top 10px
	margin-right 3px
	padding-top 3px
.social
	background-color bgcolor
	border-radius 50%
	font-size 14px
	margin 2px
	margin-top -3px
	padding 5px
.sidebar
	background-color bgsidebar
	box-shadow 6px -2px 12px -5px rgba(0,0,0,0.75)
	color colorp
	font-size fontsideicon
	height 100%
	left 0%
	width auto
	position absolute
	z-index -1
.subtitle
	cursor pointer
	font-size fsubtitle
.ulside
	padding 15px
.liside
	cursor pointer
	padding 5px 5px 10px 5px
//side icon animations
.ulside li i
	font-size 12px
	left -100%
	padding-left 7px
	padding-top 25px
	position absolute
	transition left .5s
#favs:hover, #toprated:hover, #views:hover, #destacados:hover
	color colorhover
	span
		animation rotateicons .5s
	i
		left 0%
		padding-left 7px
		padding-top 25px
		position absolute
#favs:active, #toprated:active, #views:active, #destacados:active
	i
		transform scale(1.2)
.iconr:hover
	animation rotateicons .5s
//Animations
@keyframes rotateicons {
	from {
		transform rotate(0deg)
	}
	to { 
		transform rotate(360deg)
	}
}
//Responsive
@media (max-width: 576px) 
	.sidebar
		font-size fontsideiconmin
	.ulside
		padding 5px
	.ulside li i
		display none
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
