@import url("https://fonts.googleapis.com/css?family=Dosis:700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
-moz-transform arguments,
-o-transform arguments,
border-radius() {
  border-radius: arguments;
  -moz-border-radius: arguments;
  -webkit-border-radius: arguments;
  border: arguments;
}
-moz-transition arguments,
-o-transition arguments,
transition arguments,
animations() {
  -webkit-animation: arguments;
  -moz-animation: arguments;
  -o-animation: arguments;
}
-webkit-box-sizing arguments,
-moz-box-sizing arguments,
box-sizing arguments,
filter() {
  -webkit-filter: arguments;
  -moz-filter: arguments;
  -o-filter: arguments;
  -ms-filter: arguments;
}
body {
  background-color: #d1ccbe;
  font-family: 'Ubuntu Condensed', sans-serif;
}
li {
  list-style: none;
}
nav ul {
  display: inline-flex;
  list-style: none;
}
nav ul li {
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  padding: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #002f30;
  -webkit-box-shadow: 2px 3px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 10px -2px rgba(0,0,0,0.75);
  font-size: 16px;
  z-index: 1;
}
.btn-toggle {
  font-size: 24px;
}
.btn-toggle:active,
.social:active {
  border-radius: 50%;
  background-color: rgba(1,20,4,0.4);
}
.brand {
  margin-top: -3px;
  font: 22px 'Dosis', sans-serif;
}
.brand:hover,
.btn-toggle:hover {
  color: #d6ff51;
}
.social:hover {
  background-color: #d6ff51;
}
.nav-right {
  float: right;
  margin-top: 10px;
  margin-right: 3px;
  padding-top: 3px;
}
.social {
  background-color: #d1ccbe;
  border-radius: 50%;
  font-size: 14px;
  margin: 2px;
  margin-top: -3px;
  padding: 5px;
}
.subtitle {
  cursor: pointer;
  font-size: 24px;
}
.ulside {
  padding: 15px;
}
.ulside li i {
  font-size: 12px;
  left: -100%;
  padding-left: 7px;
  padding-top: 25px;
  position: absolute;
  -webkit-transition: left 0.15s;
}
.liside:hover {
  color: #d6ff51;
  cursor: pointer;
}
.liside:hover i {
  left: 0%;
  padding-left: 7px;
  padding-top: 25px;
  position: absolute;
}
.liside:active i {
  -webkit-transform: scale(1.2);
}
@media (max-width: 576px) {
  #icon-out {
    right: 0%;
    position: absolute;
  }
  .btn-toggle {
    display: none;
  }
  .liside {
    padding: 0px 10px 0px 10px;
  }
  .sidebar ul {
    display: inline-flex;
  }
  .sidebar ul li {
    display: inline-flex;
  }
  .sidebar {
    background-color: rgba(0,47,48,0.75);
    -webkit-box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    color: #fff;
    font-size: 24px;
    bottom: 0%;
    float: bottom;
    width: 100%;
    position: absolute;
  }
  .ulside {
    padding: 10px;
  }
  .ulside li i {
    display: none;
  }
}
@media (min-width: 768px) {
  .brand {
    margin-left: -10px;
  }
  .liside {
    padding: 5px 5px 10px 5px;
  }
  .liside span {
    display: inline-flex;
    -webkit-transform: rotate(0deg);
    -webkit-transition: transform 0.15s;
  }
  .iconr:hover {
    animation: rotateicons 0.3s;
  }
  .liside:hover span {
    -webkit-transform: rotate(-15deg);
  }
}
@media (min-width: 992px) {
  .sidebar {
    background-color: #006d55;
    -webkit-box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 6px -2px 12px -5px rgba(0,0,0,0.75);
    color: #fff;
    font-size: 24px;
    height: 100%;
    left: 0%;
    width: auto;
    position: absolute;
  }
}
@-moz-keyframes rotateicons {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateicons {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes rotateicons {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotateicons {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
