@import url('https://fonts.googleapis.com/css?family=Dosis:700')
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed')
navcolor = #002f30
bgcolor = #d1ccbe
colorp = white //color letra principal 
bgsidebar = #006d55
btnclick = rgba(255, 170, 0, .2)
ficons = 24px
fontbrand = 22px 'Dosis', sans-serif
fontmain = 'Ubuntu Condensed', sans-serif
fontnav = 16px  
fontside = 18px 
fsubtitle = 24px
colorhover = #d6ff51
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border arguments
transition()
	-webkit-transition arguments
  	-moz-transition arguments
  	-o-transition arguments
  	transition arguments
body
	background-color bgcolor
	font-family fontmain
li
	list-style none
nav ul
	display inline-flex 
	list-style none
nav ul li
	color colorp
	cursor pointer
	display inline-flex
	padding 10px
*
	margin 0
	padding 0
.navbar
	background-color navcolor
	box-shadow 2px 3px 10px -2px rgba(0,0,0,0.75)
	font-size fontnav
	z-index 1
.btn
	font-size ficons
.btn:active, .social:active
	border-radius 50%
	transform scale(1.1)
	background-color btnclick
.brand
	margin-top -3px
	font fontbrand
.brand:active
	transform scale(1.2)
.brand:hover, .btn:hover
	color colorhover
.social:hover
	background-color colorhover
.nav-right
	float right
	margin-top 10px
	margin-right 3px
	padding-top 3px
.social
	background-color colorp
	border-radius 50%
	font-size 14px
	margin 2px
	margin-top -3px
	padding 5px
.sidebar
	background-color bgsidebar
	box-shadow 6px -2px 12px -5px rgba(0,0,0,0.75)
	color colorp
	font-size fontside
	height 100%
	left 0px
	width 200px
	position absolute
	z-index -1
.subtitle
	cursor pointer
	font-size fsubtitle
.ulside
	padding 25px
.liside
	cursor pointer
	padding 5px 0px 5px 5px
//side icon animations
.ulside li span
	position absolute
	left -100%
	transition left .3s
#favs:hover, #toprated:hover, #views:hover, #destacados:hover
	color colorhover
	font-weight bold
	span
		position relative
		padding-right 10px
		left 0%
	