@import url('https://fonts.googleapis.com/css?family=Dosis:700')
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed')
navcolor = #002f30
bgcolor = #d1ccbe
colorp = white //color letra principal 
bgsidebar = #006d55
btnclick = rgba(1, 20, 4, .4)
ficons = 24px
fontbrand = 22px 'Dosis', sans-serif
fontmain = 'Ubuntu Condensed', sans-serif
fontnav = 16px  
fontsideicon = 24px 
fsubtitle = 24px
colorhover = rgba(1, 86, 37, 0.5)
fontsideiconmin = 18px
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border arguments
transition()
	-webkit-transition arguments
  	-moz-transition arguments
  	-o-transition arguments
  	transition arguments
animations()
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
box-sizing()
  	-webkit-box-sizing arguments
  	-moz-box-sizing arguments
  	box-sizing arguments
filter()
	-webkit-filter arguments
	-moz-filter arguments
	-o-filter arguments
	-ms-filter arguments
body
	background-color bgcolor
	font-family fontmain
li
	list-style none
nav ul
	display inline-flex 
	list-style none
nav ul li
	color colorp
	cursor pointer
	display inline-flex
	padding 10px
*
	box-sizing border-box
	margin 0
	padding 0
.navbar
	background-color navcolor
	box-shadow 2px 3px 10px -2px rgba(0,0,0,0.75)
	font-size fontnav
	z-index 1
.btn-toggle
	font-size ficons
.nav-icons:active
	transform scale(0.9)
	background-color btnclick
.btn-toggle:active
	border-radius 50%
	background-color btnclick
	transform scale(1.1)
.brand
	margin-top -3px
	font fontbrand
.brand:hover, .btn-toggle:hover
	color colorhover
.nav-icons:hover
	background-color colorhover
.nav-right
	float right
	margin-top 10px
	margin-right 3px
	padding-top 3px
.nav-icons
	background-color #437272
	border-radius 10%
	color colorp
	font-size 14px
	margin 2px
	margin-top -3px
	padding 5px
.subtitle
	cursor pointer
	font-size fsubtitle
.ulside
	padding 15px
//side icon animations
.ulside li i
	font-size 12px
	left -100%
	padding-left 7px
	padding-top 25px
	position absolute
	transition left .150s
.liside:hover
	color colorhover
	cursor pointer
	i
		left 0%
		padding-left 7px
		padding-top 25px
		position absolute
.liside:active
	i
		transform scale(1.2)
//Animations
@keyframes rotateicons {
	from {
		transform rotate(0deg)
	}
	to { 
		transform rotate(90deg)
	}
}
//Responsive
//Mobile
@media (max-width: 576px) 
	#icon-out
		right 0%
		position absolute
	.btn-toggle
		display none
	.liside
		padding 0px 10px 0px 10px
	.sidebar ul
		display inline-flex
	.sidebar ul li
		display inline-flex
	.sidebar
		background-color rgba(0, 47, 48, .75)
		box-shadow 6px -2px 12px -5px rgba(0,0,0,0.75)
		color colorp
		font-size fontsideicon
		bottom 0%
		float bottom
		width 100%
		position absolute
	.ulside
		padding 10px
	.ulside li i
		display none		
// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
	.brand
		margin-left -10px
	.liside
		padding 5px 5px 10px 5px
		span 
			display inline-flex
			transform rotate(0deg)
			transition transform .150s
	.liside:hover
		span
			transform rotate(-15deg)

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
	.sidebar
		background-color bgsidebar
		box-shadow 6px -2px 12px -5px rgba(0,0,0,0.75)
		color colorp
		font-size fontsideicon
		height 100%
		left 0%
		width auto
		position absolute

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
